.btn-icon {
    padding: 0 8px!important;
}
.img_preview_box {
    max-height: 200px;
}
.img_preview_box img {
    max-width: 100%;
    height: 100%;
}
.users-view .users-view-timeline {
    padding: 1rem;
    cursor: pointer;
}
.plan.plan-box {
    padding: 15px;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: #e2e4e6;
}
.message_plans .commission_rate {
    position: absolute;
    top: 10px;
    left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
